html body{
    z-index: 0;
}

.md-tall h2 {
    background-color: RGBA(0,0,0,0.5);
}

.content {
    padding: 16px;
}

.inputnomargin {
    margin-top: 20px !important;
    margin-bottom: 0px;
    height: 40px;
}

.content-actions {
    padding: 10px 5px;
}

.page-container {
    background-color: #f1f1f1;
    padding: 32px;
    flex: 1;
    display: flex;
    flex-direction: column;
}


/*Background*/
.transparent{
    background-color: transparent;
}

.white {
    background-color: white;
}

/*content*/
.layout-content {
    max-width: 864px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.form-content {
    max-width: 600px;
    width: 100%;
}
.full-width{
    width:100%;
}

.body-halfbackground {
    height: 40%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #90CAF9;
    z-index: -1;
}

.header-background {
    background: url("http://www.nagtegaalameland.nl/uploads/images/site/header.jpg") center no-repeat;
}

@media (min-width: 600px) {

    .content-padding {
        padding: 50px 15px;
    }

}


/*LogIN*/
.login-content {
    max-width: 700px;
    width: 100%;
    background-color: white;
}

    .login-content form {
        padding: 20px;
    }

.loginFull {
    background-color: transparent;
    z-index: 1;
}


/*Override md-icon inside md-list-item for correct centering of icons and text*/
md-list-item > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item > md-icon.md-secondary:not(.md-avatar-icon), md-list-item .md-list-item-inner > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item .md-list-item-inner > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon) {
    margin-bottom: 16px;
    margin-right: 20px;
    margin-left: 8px;
}


/*Checkbox*/
md-checkbox {
    margin-bottom: 0;
}

    md-checkbox.md-checked.blue .md-icon {
        background-color: rgb(63, 81, 181);
    }


/*Table*/
.table-text-width {
    min-width: 200px;
    width: 100%;
}

.table-time {
    padding: 0 !important;
    width: 100%;
    min-width: 50px;
}

.table-time:hover {
    padding: 0 !important;
    width: 100%;
    min-width: 50px;
    background-color: white;
}

/*Datepicker*/
md-datepicker {
    background-color: transparent;
    padding-top: 17px;
    padding-right: 18px !important;
}

/*Custom list in autocomplete*/
.item-title, .item-metadata {
  display: block;
  line-height: 2; }
.item-title md-icon {
  font-size: 22px; }

.chiplist li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.chiplist li:last-child {
  border-bottom-width: 0; }

md-autocomplete[md-floating-label] > md-autocomplete-wrap > md-input-container {
    margin-top: 20px !important;
    margin-bottom: 21px;
    /*height: 40px;*/
    padding: 0;
}

md-autocomplete[md-floating-label] {
    margin-bottom: -32px;
}

md-list-item ._md-list-item-inner > md-icon {
    margin-left: 4px;
    margin-right: 20px !important;
}