html body{
    z-index: -1;
}

.transparent{
    background-color: transparent;
}

.layout-content {
    max-width: 864px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.form-content {
    max-width: 600px;
}
.full-width{
    width:100%;
}
.body-halfbackground {
    height: 40%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #90CAF9;
    z-index: 0;
}

.header-background {
    background: url("http://www.nagtegaalameland.nl/uploads/images/site/header.jpg") center no-repeat;
}

.md-tall h2 {
    background-color: RGBA(0,0,0,0.5);
}


/*LogIN*/
.login-content {
    max-width: 700px;
    width: 100%;
    background-color: white;
}

    .login-content form {
        padding: 20px;
    }

.loginFull {
    background-color: transparent;
    z-index: 1;
}


/*Override md-icon inside md-list-item for correct centering of icons and text*/
md-list-item > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item > md-icon.md-secondary:not(.md-avatar-icon), md-list-item .md-list-item-inner > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item .md-list-item-inner > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon) {
    margin-bottom: 16px;
    margin-right: 20px;
    margin-left: 8px;
}


/*Checkbox*/
md-checkbox {
    margin-bottom: 0;
}

    md-checkbox.md-checked.blue .md-icon {
        background-color: rgb(63, 81, 181);
    }

.inputnomargin {
    margin-top: 14px !important;
    margin-bottom: 0px;
    height: 40px;
}

.layout-content .content {
    padding: 10px;
}

.page-container {
    background-color: #f1f1f1;
    padding: 32px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.table-text-width {
    min-width: 200px;
    width: 100%;
}

.table-time {
    padding: 0 !important;
    width: 100%;
    min-width: 50px;
}