.layout-content {
    max-width: 864px;
}

.login-content {
    max-width: 700px;
    width: 100%;
    background-color: white;
}

.login-content form {
    padding: 20px;
}

.loginFull {
    background-color: transparent;
    z-index: 1;
}

.body-halfbackground {
    height: 40%;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: #90CAF9;
}

md-checkbox {
    margin-bottom: 0;
}

md-input-container {
    
}

.header-background {
    background: url("http://www.nagtegaalameland.nl/uploads/images/site/header.jpg") center no-repeat;
}

.md-tall h2 {
    background-color: RGBA(0,0,0,0.5);
}