<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content form-content">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Opdrachten</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('werknemer/menu')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
  
        <div ng-controller="OpdrachtEdit" ng-init="getOpdrachten()">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="opdracht in opdrachten" ng-click="changeView('werknemer/assignmentedit/' + opdracht.idOpdracht)">
                    <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">content_paste</md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ opdracht.idKlant }}</h3>
                        <p>{{ opdracht.locatie }}</p>
                    </div>
                    <span flex></span>
                    <md-icon ng-style="{color: '#3F51B5'}">edit</md-icon>
                </md-list-item>
            </md-list>
        </div>
        <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
        </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
}