<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content form-content" ng-controller="OpdrachtView">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Opdrachtgever: @ViewData["idKlant"]</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('werknemer/opdrachten')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        <div class="content" >
                <h5>Locatie</h5>
                <p   ng-init="assignmentDetails.locatie = '@ViewData["locatie"]'">{{assignmentDetails.locatie}}</p>

                <h5>Beschrijving</h5>
                @*<input readonly ng-model="assignmentDetails.beschrijving" ng-init="assignmentDetails.beschrijving = '@ViewData["beschrijving"]'">  *@
                <p ng-init="assignmentDetails.beschrijving = '@ViewData["beschrijving"]'">{{assignmentDetails.beschrijving}}</p>

            <div layout="row" layout-align="end center" class="content-actions">
                <md-button class="md-primary md-raised" ng-click="changeView('werknemer/werkboninvullen')">Werkboninvullen</md-button>
            </div>
        </div>
        <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
}