<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content form-content" ng-controller="OpdrachtEdit">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Opdrachtgever: @ViewData["idKlant"]</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('werknemer/menu')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        <div class="content">
            <md-input-container class="md-block inputnomargin">
                <label>Locatie</label>
                <input ng-model="assignmentDetails.locatie" ng-init="assignmentDetails.locatie = '@ViewData["locatie"]'">
            </md-input-container>

            <md-input-container class="md-block inputnomargin">
                <label>Beschrijving</label>
                <input ng-model="assignmentDetails.beschrijving" ng-init="assignmentDetails.beschrijving = '@ViewData["beschrijving"]'">                
            </md-input-container>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="end center" class="content-actions">
            <md-button class="md-primary md-raised" ng-click="changeView('werknemer/werkboninvullen')">Werkboninvullen</md-button>
        </div>
        <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
}