@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}
<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>

    <!-- Page Content -->
    <section id="content" ng-controller="MachineManagement as um">
        <div class="container">
            <div class="card">
                <div class="card-header ch-alt m-b-20">
                    <h2>Alle Gearchiveerde Machines <small>Klik op de kolomkoppen om te sorteren</small></h2>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table ng-table="um.tableSorting" class="table table-striped table-vmiddle" ng-init="um.getAllArchivedMachines()">
                            <tr ng-repeat="w in um.allMachines">
                                <td data-title="'Number'" sortable="'Number'">
                                    {{ w.Number }}
                                </td>
                                <td data-title="'Name'" sortable="'name'">
                                    {{ w.Name }}
                                </td>
                                <td data-title="'Tag'" sortable="'Tag'">
                                    {{ w.Tag }}
                                </td>
                                <td data-title="'Type'" sortable="'Type'">
                                    {{ w.Type }}
                                </td>
                                <td data-title="'Status'" sortable="'Status'">
                                    {{ w.Status }}
                                </td>
                                <td>
                                    <button class="btn btn-default" ng-click="um.restoreMachine(w)"><i class="zmdi zmdi-account-add"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>