<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>@ViewData["Title"] - AgroApp</title>

    <link rel="stylesheet" href="/lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--load the angularJS script first for cloaking functions-->
    <script src="/lib/angular/angular.js"></script>
</head>
<body ng-app="AgroApp" ng-controller="Navigation">

    <div ng-controller="AppCtrl" layout="column" layout-fill ng-cloak>
        <section layout="row" layout-fill>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Menu</h1>
                </md-toolbar>
                <md-content ng-controller="LeftCtrl">
                    <div hide-sm show-gt-md>
                    </div>
                </md-content>
            </md-sidenav>
            <md-content flex>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md>
                            <md-icon> menu </md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Home" ng-click="changeView('admin/main')">
                            <md-icon> home </md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <div layout="column" layout-fill>
                    @RenderBody()
                </div>
            </md-content>
        </section>
    </div>

    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="/lib/angular-messages/angular-messages.js"></script>
    <script>
        angular.module('AgroApp', ['ngMaterial', 'ngMessages']);
    </script>
    <script src="~/js/site.js"></script>
    <script src="~/js/admin.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>