.listbutton {
    padding: 5px 12px 5px 12px;
    margin-bottom: 0;
}

/*Fix for datepicker content iphone 5 not being visible*/
@media screen and (max-width: 767px) {
    .date-picker .dropdown-menu {
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 326px;
    }
}

.ui-select-match-item {
    box-shadow: none !important;
    border-radius: 2px;
    margin: 4px 4px 4px 0 !important;
    background: #eaeaea;
    padding: 5px 8px;
    border: 0;
    box-shadow: none;
    font-size: 12px;
    text-transform: none;
}

.ui-select-match-close {
    margin-top: 2px;
    margin-left: 6px;
}

.ui-select-multiple {
    min-height: 37px;
}

    .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
        height: 35px;
    }

.col-fit {
    width: 1px;
    white-space: nowrap;
}

.card {
    transition: margin;
    transition-duration: 500ms;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.zmdi-bis {
    font-size: 24px;
}

.listview .lv-attrs > li {
    border: 0 !important;
}

    .listview .lv-item:hover.lv-upper {
        background-color: rgb(238,238,238);
    }

.expansion-card {
    margin: 0;
    border-radius: 0;
}

    .expansion-card.toggled {
        margin-top: 15px;
        margin-bottom: 15px !important;
        border-radius: 4px;
    }

.lv-title {
    font-size: 13px;
}

    .lv-title small {
        color: RGBA(1, 1, 1, 0.54);
        font-size: 11px;
    }

.small-text {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

body:before {
    content: '';
    height: 265px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #009688;
}

.block-header > h2 {
    font-size: 15px;
    color: #fff;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

.smm-header {
    display: none;
}

@media (max-width: 1199px) {
    .smm-header {
        display: block;
        height: 80px;
        background-image: url('../img/headers/sm/4.png');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        z-index: 10;
    }

        .smm-header i {
            font-size: 21px;
            color: #009688;
            background: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 41px;
            margin: 20px 30px 0;
            cursor: pointer;
        }
}

.sidebar-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.bgm-none {
    background-color: transparent;
}

.bgm-green a {
    color: white;
}