.listbutton {
    padding: 5px 12px 5px 12px;
    margin-bottom: 0;
}

/*Fix for datepicker content iphone 5 not being visible*/
@media screen and (max-width: 767px) {
    .date-picker .dropdown-menu {
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 326px;
    }
}

.ui-select-match-item {
    box-shadow: none !important;    border-radius: 2px;
    margin: 4px 4px 4px 0 !important;
    background: #eaeaea;
    padding: 5px 8px;
    border: 0;
    box-shadow: none;
    font-size: 12px;
    text-transform: none;
}

.ui-select-match-close {
    margin-top: 2px;
    margin-left: 6px;
}

.ui-select-multiple {
    min-height: 37px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    height: 35px;
}