@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}
<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
    <section id="content">

        <div class="card">
            <div class="card-header">
                <h2>
                    Machine Beheer
                    <small>Hier kunt u de machines beheren</small>
                </h2>
            </div>
            <div class="card-body" ng-controller="ManageUser" ng-init="getAllUserData()">
                <div class="table-responsive">
                    <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle">
                        <tr ng-repeat="user in users">
                            <td data-title="'Machine Nummer'" sortable="'Machine Nummer'">
                                {{ user.Name }}
                            </td>
                            <td data-title="'Naam'" sortable="'Naam'">
                                {{ w.name }}
                            </td>
                            <td data-title="'Kenteken'" sortable="'Kenteken'">
                                {{ w.email }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
<script src="~/js/controllers/manage.js"></script>