@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<!-- Header -->
<header id="header" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
    <section id="content">
        <div class="card">
            <div class="card-header">
                <h2>Vracht Toevoegen<small>Hier kan een nieuwe vracht worden toegeveogd die niet bij een bepaalde "opdracht" hoort</small></h2>
            </div>
            <form name="cargoForm" ng-submit="hoi()">
                <div class="card-body card-padding">
                    <div class="form-group fg-line">
                        <input type="text" class="form-control" placeholder="Input Default">
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                    <input type="text" class="form-control" placeholder="Werknemer">
                            </div>
                        </div>
                        <div class="col-sm-4 m-b-15">
                            <p class="f-500 c-black m-b-15">Voertuig</p>
                            <select chosen data-placeholder="Voertuig" class="w-100">
                                <option ng-repeat="machine in machines">
                                    {{machine.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4 m-b-15">
                            <p class="f-500 c-black m-b-15">Klant</p>
                            <select chosen data-placeholder="Klant" class="w-100">
                                <option ng-repeat="customer in customers">
                                    {{customer.Name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-sm-4 m-b-15">
                            <p class="f-500 c-black m-b-15">Soort Grondstof</p>
                            <select chosen data-placeholder="Soort" class="w-100">
                                <option ng-repeat="soort in soorten">
                                    {{customer.Name}}
                                </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary btn-sm m-t-10">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </section>
</section>