<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Gebruiker beheer</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('admin/gebruikers/toevoegen')"><md-icon>add_circle</md-icon></md-button>
                <md-button class="md-icon-button" ng-click="changeView('admin/main')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        <div ng-controller="UserView" ng-init="getAllUserData()">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="gebruiker in gebruikers" ng-click="changeView('admin/gebruikers/wijzigen/' + gebruiker.IdWerknemer)">
                    <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">face</md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ gebruiker.Name }}</h3>
                        <p>{{ gebruiker.Email }}</p>
                    </div>
                    <span flex></span>
                    <md-icon ng-style="{color: '#3F51B5'}">edit</md-icon>
                </md-list-item>
            </md-list>
            <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
}