<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="hidden-xs">
        <a href="~/admin" class="m-l-10" data-ng-click="mactrl.sidebarStat($event)">
            <img src="~/img/logo.png" alt="" style="max-height: 50px">
        </a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li class="dropdown" uib-dropdown="" style="">
                <a uib-dropdown-toggle="" href="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="tm-icon zmdi zmdi-settings"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li>
                        <a href="~/logout">
                            <i class="zmdi zmdi-run"></i> Uitloggen
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>



