<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="hidden-xs">
       
        <a href="~/werknemer/" class="m-l-10" data-ng-click="mactrl.sidebarStat($event)"><img src="~/img/logo.png" height="12%" width="35%"></a>
    </li>


</ul>




