@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}
<!-- Header -->
<header id="header" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>

    <!-- Page Content -->
    <section id="content" ng-controller="CustomerManagement as ctrl">
        <div class="container c-alt" ng-cloak>
            <div slider="ctrl.showEditCard">
                @{ await Html.RenderPartialAsync("management/EditCustomer"); }
            </div>

            <div slider="ctrl.showMainCard" enabled="true">
                <div class="card bgm-none">
                    <div class="card-header ch-dark palette-Teal-400 bg">
                        <h2>
                            Alle
                            klanten <small>Klik op de kolomkoppen om te sorteren</small>
                        </h2>
                        <button class="button btn bgm-red btn-float waves-effect" ng-click="ctrl.showEditCard = true; ctrl.showMainCard = false; ctrl.isAdding = true; ctrl.customerDetails = {};"><i class="zmdi zmdi-plus"></i></button>
                    </div>

                    <div class="card-body bgm-white p-t-5">
                        <div class="table-responsive">
                            <table ng-table="ctrl.tableSorting" class="table table-striped table-vmiddle" ng-init="ctrl.getAllCustomers()">
                                <tr ng-repeat="w in ctrl.allCustomers">
                                    <td data-title="'Acties'" class="col-fit">
                                        <button class="button btn btn-default" ng-click="ctrl.showEditCard = true; ctrl.showMainCard = false; ctrl.isAdding = false; ctrl.customerDetails = w;"><i class="zmdi zmdi-edit"></i></button>
                                        <button class="btn btn-default" ng-click="ctrl.archiveCustomer(w)"><i class="zmdi zmdi-delete"></i></button>
                                    </td>
                                    <td data-title="'ID'" sortable="'id'" class="col-fit">
                                        {{ w.customerId }}
                                    </td>
                                    <td data-title="'Naam'" sortable="'Naam'" class="col-fit">
                                        {{ w.name }}
                                    </td>
                                    <td data-title="'Adres'" sortable="'Adres'">
                                        {{ w.address }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

@section scripts{
    <script src="~/lib/angularslideables-master/angularslideables.es5.min.js"></script>
    <script>angular.module('materialAdmin').requires.push('angularSlideables');</script>
}