.listbutton {
    padding: 5px 12px 5px 12px;
    margin-bottom: 0;
}

/*Fix for datepicker content iphone 5 not being visible*/
@media screen and (max-width: 767px) {
    .date-picker .dropdown-menu {
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 326px;
    }
}