@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}
<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>

    <!-- Page Content -->
    <section id="content" data-ng-controller="UserManagement as um">
        <div class="container">
            <div class="card">
                <form class="form-horizontal" ng-submit="um.registerCustomer()">
                    <div class="card-header ch-alt m-b-20">
                        <h2>Klant Toevoegen <small>Vul de gegevens hieronder in en druk vervolgens op verzenden</small></h2>
                    </div>

                    <div class="card-body card-padding">
                        <div class="form-group">
                            <label for="inputFullName" class="col-sm-2 control-label">Volledige Naam</label>
                            <div class="col-sm-10">
                                <div class="fg-line">
                                    <input required ng-model="um.customerDetails.Name" type="text" class="form-control input-sm" id="inputFullName" placeholder="Volledige Naam">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAdress" class="col-sm-2 control-label">Adres</label>
                            <div class="col-sm-10">
                                <div class="fg-line">
                                    <input required ng-model="um.customerDetails.Adress" type="text" class="form-control input-sm" id="inputAddress" placeholder="Adres">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary btn-sm waves-effect">Voeg klant toe</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>