@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
    <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Alle opdrachten verwijderen</h2>
                    <small>Als u op deze knop drukt zulle alle opgeslagen uren en opdrachten verwijderd worden.</small>
                </div>
                <div class="card-body  bgm-gray card-padding">
                    <button class="btn btn-info waves-effect" data-swal-warning="">Verwijder alles</button>
                </div>
            </div>
        </div>
    </section>
</section>