<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content form-content" ng-controller="KlantEdit">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Wijzigt momenteel: @ViewData["naamKlant"]</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('admin/klantbeheer')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        <div class="content">
            <form name="gebruikerform" layout="column" ng-submit="EditKlant()">
                <p hidden ng-model="KlantDetails.id" ng-init="klantDetails.id = '@ViewData["idKlant"]'"></p>
                <md-input-container class="md-block inputnomargin">
                    <label>Klant naam</label>
                    <input required type="text" md-maxlength="45" name="machineName" ng-model="klantDetails.naam" ng-init="klantDetails.naam = '@ViewData["naamKlant"]'">
                </md-input-container>

                <md-input-container class="md-block inputnomargin">
                    <label>Adres</label>
                    <input required type="text" name="machineNum" ng-model="klantDetails.adres" ng-init="klantDetails.adres = '@ViewData["adresKlant"]'" minlength="2" maxlength="45">
                </md-input-container>
            </form>
        </div>

        <md-divider></md-divider>
        <div layout="row" layout-align="end center" class="content-actions">
            <md-button ng-style="{color: 'red'}" ng-click="showConfirmDeleteDialog()">Klant Archiveren</md-button>
            <md-button class="md-primary md-raised" ng-click="showConfirmChangesDialog()">Pas Wijzigingen Toe</md-button>
        </div>

        <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
}