<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>@ViewData["Title"] - AgroApp</title>

    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body ng-app="AgroApp">
    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>

</body>
</html>