<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>@ViewData["Title"] - AgroApp</title>

    <link rel="stylesheet" href="/lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/lib/angular-material-data-table/dist/md-data-table.css" rel="stylesheet" />

    <!--load the angularJS script first for cloaking functions-->
    <script src="/lib/angular/angular.js"></script>
</head>
<body ng-app="AgroApp">
    
        @RenderBody()

        <script src="/lib/angular-aria/angular-aria.js"></script>
        <script src="/lib/angular-animate/angular-animate.js"></script>
        <script src="/lib/angular-material/angular-material.js"></script>
        <script src="/lib/angular-messages/angular-messages.js"></script>
        <script src="/lib/angular-material-data-table/dist/md-data-table.js"></script>
        <script>
            angular.module('AgroApp', ['ngMaterial', 'ngMessages', 'md.data.table']);
        </script>
        <script src="~/js/site.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>