<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Beheer</span>
                </h2>
                <span flex></span>
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin>person outline</md-icon>
                    </md-button>
                    <md-menu-content width="5">
                        <md-menu-item>
                            <md-button ng-click="changeView('admin/gebruikers')">
                                <div layout="row">
                                    <p flex>@ViewData["volledigenaam"]</p>
                                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">settings</md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="goLogout()">
                                <div layout="row">
                                    <p flex>Log Uit</p>
                                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">power_settings_new</md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <div>
            <div layout-gt-xs="row">
                <md-list flex-gt-xs="50">
                    <md-subheader class="md-no-sticky">Planning</md-subheader>
                    <md-list-item ng-click="changeView('admin/planning')">
                        <md-icon class="notopmargin">view_agenda</md-icon>
                        <p>Planning</p>
                    </md-list-item>

                    <md-subheader class="md-no-sticky">Werkbonnen</md-subheader>
                    <md-list-item ng-click="changeView('admin/Werkbonadd')">
                        <md-icon class="notopmargin">work</md-icon>
                        <p>Werkbon Toevoegen</p>
                    </md-list-item>

                    <md-list-item ng-click="changeView('admin/WerkbonCheck')">
                        <md-icon class="notopmargin">edit</md-icon>
                        <p>Werkbon Controleren</p>
                    </md-list-item>
                </md-list>
                <md-list flex-gt-xs="50">
                    <md-subheader class="md-no-sticky">Beheer</md-subheader>
                    <md-list-item ng-click="changeView('admin/gebruikerbeheer')">
                        <md-icon class="notopmargin">assignment ind</md-icon>
                        <p>Gebruiker Beheer</p>
                    </md-list-item>

                    <md-list-item ng-click="changeView('admin/klantbeheer')">
                        <md-icon class="notopmargin">perm_identity</md-icon>
                        <p>Klant Beheer</p>
                    </md-list-item>

                    <md-list-item ng-click="changeView('admin/machinebeheer')">
                        <md-icon class="notopmargin">build</md-icon>
                        <p>Machine Beheer</p>
                    </md-list-item>

                    <md-list-item ng-click="changeView('admin/hulpstukbeheer')">
                        <md-icon class="notopmargin">build</md-icon>
                        <p>Hulpstuk Beheer</p>
                    </md-list-item>

                    <md-subheader class="md-no-sticky">Statistieken</md-subheader>
                    <md-list-item ng-click="hoi()">
                        <md-icon class="notopmargin">assessment</md-icon>
                        <p>Statistieken (in Progress)</p>
                    </md-list-item>

                    <md-subheader class="md-no-sticky">Query</md-subheader>
                    <md-list-item ng-click="changeView('admin/werkbonoverzicht')">
                        <md-icon class="notopmargin">assessment</md-icon>
                        <p>Werkbonnen Bekijken</p>
                    </md-list-item>
                </md-list>
            </div>
            <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>

</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
    <script src="~/js/loginview.js"></script>
}