<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content form-content">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Opdracht</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('admin/main')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        <form class="content" ng-controller="WerkbonEdit as ctrl" ng-submit="submitWerkbonAdd()">
            <div layout-gt-xs="row">
                <md-list flex-gt-xs="50">
                    <md-input-container class="md-block inputnomargin">
                        <label>Klant</label>
                        <input input type="text">
                    </md-input-container>


                    @*<div ng-init="getAllUserData()">
                            <md-input-container class="md-block inputnomargin" flex-gt-sm ng-repeat="x in selectedUsers track by $index">
                                <label>Werknemer</label>
                                <md-select ng-model="userKeuze[$index]">
                                    <md-option ng-repeat="n in gebruikers" ng-selected="$first" ng-value="n">
                                        {{n.Name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>*@

                    @*<md-chips ng-model="userKeuze" md-autocomplete-snap md-require-match="true">
                            <md-autocomplete md-selected-item="ctrl.selectedItem"
                                             md-search-text="ctrl.searchText"
                                             md-items="item in ctrl.querySearch(ctrl.searchText)"
                                             md-item-text="item.name"
                                             placeholder="Zoek een werknemer">
                                <span md-highlight-text="ctrl.searchText">{{n.Name}}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{n.Name}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>*@

                    <md-chips ng-init="getAllUserData()" ng-model="ctrl.userSelectie" md-autocomplete-snap
                              md-require-match="true">
                        <md-autocomplete md-autoselect="true"
                                         md-no-cache="true"
                                         md-selected-item="ctrl.selectedUser"
                                         md-items="item in ctrl.querySearch(ctrl.userSearchText)"
                                         md-item-text="item.Name"
                                         md-search-text="ctrl.userSearchText"
                                         placeholder="Zoek een werknemer">
                            <span md-highlight-text="we.userSearchText">{{item.Name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            {{$chip.Name}}
                        </md-chip-template>
                    </md-chips>

                </md-list>
                <md-list flex-gt-xs="50">
                    <md-input-container class="md-block inputnomargin">
                        <label>Adres</label>
                        <input input type="text">
                    </md-input-container>
                    <md-datepicker ng-model="myDate" md-placeholder="Datum">
                    </md-datepicker>
                </md-list>
            </div>
            <md-input-container class="md-block inputnomargin">
                <label>Beschrijving</label>
                <textarea ng-model="opdrachtOmschrijving" md-maxlength="200" rows="15" md-select-on-focus></textarea>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit">Verzenden</md-button>
            <md-button class="md-raised md-primary" type="submit">Opslaan</md-button>
        </form>
        <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    </div>

</md-content>
<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
    <script src="~/js/dommekutautocomplete.js"></script>
}
