<md-content layout-fill layout="column" ng-cloak ng-controller="Navigation" >
    <md-toolbar class="md-menu-toolbar">
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center">
                <md-icon>chat</md-icon>
            </md-toolbar-filler>
            <div>
                <h2 class="md-toolbar-tools">Planning Week 20</h2>
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Weergave
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button>
                                    Jaar Weergave
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Maand Weergave
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Week Weergave
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <button ng-click="changeView('admin/main')">
                        Terug naar hoofdpagina
                    </button>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>
    <div class="page-container" ng-controller="UserView" ng-init="getAllUserData()">
        <md-content>
            <md-table-container ng-init="setTijdenRange()">
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column class="table-text-width">Werknemer</th>
                            <th md-column class="table-time" ng-repeat="tijd in tijden">{{tijd}}</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="gebruiker in gebruikers">
                            <td md-cell>{{gebruiker.Name}}</td>
                            <td md-cell class="table-time" ng-repeat="tijd in tijden">a</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-content>
    </div>
</md-content>

@section scripts{
    <script src="~/js/admin.js"></script>
}