\<md-content layout-fill layout="column" ng-controller="Navigation">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Planning</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="changeView('admin/main')"><md-icon>arrow_back</md-icon></md-button>
        </div>
    </md-toolbar>
    <div class="page-container" ng-controller="PlanningView">
        <md-content class="white">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Werknemers">

                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Dag" md-on-select="updateGebruikersDag(); setTijdenRange()">
                            <md-content class="md-padding">
                                <md-datepicker ng-model="geselecteerdeDagDatum" ng-change="updateGebruikersDag()" md-placeholder="Datum"></md-datepicker>
                            </md-content>
                            <md-content>
                                <md-table-container>
                                    <table md-table>
                                        <thead md-head>
                                            <tr md-row>
                                                <th md-column class="table-text-width">Werknemer</th>
                                                <th md-column class="table-time" ng-repeat="tijd in tijden">{{tijd}}</th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row ng-repeat="gebruiker in gebruikerTijden">
                                                <td md-cell>{{gebruiker.naam}}</td>
                                                <td md-cell class="table-time" ng-repeat="tijd in tijden" style="background-color: RGB(200, 200, 200)"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                            </md-content>
                        </md-tab>
                        <md-tab label="Week" md-on-select="updateGebruikersWeek()">
                            <md-content class="md-padding">
                                <div layout="row">
                                    <md-datepicker ng-model="geselecteerdeWeekDatum" ng-change="updateGebruikersWeek()" md-placeholder="Datum" md-date-filter="alleenWeekenden"></md-datepicker>
                                    <md-input-container class="md-block inputnomargin">
                                        <label>Week Nummer</label>
                                        <input required type="text" ng-model="weekNummer" md-select-on-focus>
                                    </md-input-container>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Maand">

                        </md-tab>
                        <md-tab label="Jaar">

                        </md-tab>
                    </md-tabs>
                </md-tab>
                <md-tab label="Opdrachten" md-on-select="getOpdrachten()">

                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Actueel">
                            <div layout="row">
                                <div flex="50">
                                    <md-subheader class="md-no-sticky">Geen Datum</md-subheader>
                                    <md-list-item class="md-3-line" ng-repeat="item in opdrachten | filter:opdrachtGeenDatumFilter" ng-click="null">
                                        <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">assignment</md-icon>
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{ item.klant.Name }}</h3>
                                            <h4>{{ item.datum | date:'dd/MM/yyyy' }}</h4>
                                            <p>{{ item.beschrijving }}</p>
                                        </div>
                                        <span flex></span>
                                        <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">edit</md-icon>
                                    </md-list-item>
                                    <md-subheader class="md-no-sticky">Geen werknemers</md-subheader>
                                    <md-list-item class="md-3-line" ng-repeat="item in opdrachten | filter:opdrachtGeenWerknemersFilter" ng-click="null">
                                        <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">assignment</md-icon>
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{ item.klant.Name }}</h3>
                                            <h4>{{ item.datum | date:'dd/MM/yyyy' }}</h4>
                                            <p>{{ item.beschrijving }}</p>
                                        </div>
                                        <span flex></span>
                                        <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">edit</md-icon>
                                    </md-list-item>
                                    <md-subheader class="md-no-sticky">Gepland</md-subheader>
                                    <md-list-item class="md-3-line" ng-repeat="item in opdrachten | filter:opdrachtGeplandFilter" ng-click="null">
                                        <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">assignment</md-icon>
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{ item.klant.Name }}</h3>
                                            <h4>{{ item.datum | date:'dd/MM/yyyy' }}</h4>
                                            <p>{{ item.beschrijving }}</p>
                                        </div>
                                        <span flex></span>
                                        <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">edit</md-icon>
                                    </md-list-item>
                                </div>
                                <div flex="50">
                                    <md-subheader class="md-no-sticky">Lopende Opdrachten</md-subheader>
                                    <md-list-item class="md-3-line" ng-repeat="item in opdrachten | filter:opdrachtLopendFilter" ng-click="null">
                                        <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">assignment</md-icon>
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{ item.klant.Name }}</h3>
                                            <h4>{{ item.datum | date:'dd/MM/yyyy' }}</h4>
                                            <p>{{ item.beschrijving }}</p>
                                        </div>
                                        <span flex></span>
                                        <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">edit</md-icon>
                                    </md-list-item>
                                </div>
                            </div>
                        </md-tab>

                        <md-tab label="Archief">
                        </md-tab>

                        <md-tab label="Opdracht Toevoegen">
                            @Html.Partial("opdrachtAdd")
                        </md-tab>
                    </md-tabs>
                </md-tab>
            </md-tabs>

            <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
        </md-content>
    </div>
</md-content>

@section scripts{
    <script src="~/js/admin.js"></script>
}