@*<md-content layout-align="top center" layout-fill layout="column" ng-cloak ng-style="{margin-top: '10px'}">
    <div class="md-whiteframe-5dp layout-content">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Werkbon Invullen</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <div ng-controller="Navigation">
            <div layout-gt-xs="row">
                <md-list flex-gt-xs="40">
                    <md-subheader class="md-no-sticky">Gegevens Werknemer</md-subheader>
                    <md-input-container class="md-block">
                        <label>Werknemer</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Opdrachtgever</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Werklocatie</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>van</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>tot</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Aantal uren</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Man</label>
                        <md-select ng-model="user.state">
                            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Aantal uren</label>
                        <input input type="text">
                    </md-input-container>
                    
                    <md-input-container class="md-block">
                        <label>n</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Aantal uren</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Aantal uren</label>
                        <input input type="text">
                    </md-input-container>
                    <md-chips ng-model="ctrl.tags"
                              md-separator-keys="ctrl.keys"
                              placeholder="Voer een voertuig in"
                              secondary-placeholder="Voeruigen gescheiden door een komma">
                    </md-chips>

                </md-list>
            </div>
            <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
</md-content>*@

<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation">
    <div class="md-whiteframe-5dp layout-content form-content">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Nieuwe gebruiker</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('admin/main')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        <div class="content" ng-controller="UserEdit">
            <form name="gebruikerform" layout-padding layout="column" ng-submit="">

                <md-input-container class="md-block inputnomargin">
                    <label>E-mail</label>
                    <input required type="email" name="userEmail" ng-model="userDetails.email" minlength="6" maxlength="100">
                </md-input-container>

                <md-input-container class="md-block inputnomargin">
                    <label>Wachtwoord</label>
                    <input required type="password" name="userPass" ng-model="userDetails.password" minlength="6" maxlength="100">
                </md-input-container>

                <md-input-container class="inputnomargin">
                    <label>Machine</label>
                    <md-select required ng-model="ctrl.userState">
                        <md-option ng-repeat="n in machines">
                            {{n}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <div layout-align="row">
                    <span flex></span>
                    <md-button type="submit">Creëer gebruiker</md-button>
                </div>

            </form>
        </div>
        <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
    <script src="~/js/loginview.js"></script>
}




