<md-content layout-align-gt-xs="start center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content form-content">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Werkbon toevoegen</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('admin/main')"><md-icon>home</md-icon></md-button>
            </div>
        </md-toolbar>
        <div class="content" ng-controller="WerkbonEdit">
            <md-subheader class="md-no-sticky">Algemene informatie</md-subheader>
            <div layout-gt-xs="row">
                <md-list flex-gt-xs="50">
                    <md-input-container class="md-block inputnomargin">
                        <label>Werknemer</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block inputnomargin">
                        <label>Werklocatie</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block inputnomargin" flex-gt-sm ng-init="getAllUserData()">
                        <label>Collega</label>
                        <md-select ng-model="userKeuze">
                            <md-option ng-repeat="n in gebruikers">
                                {{n.Name}}
                            </md-option>
                        </md-select>

                    </md-input-container><md-datepicker ng-model="myDate" md-placeholder="Datum">
                    </md-datepicker>
                </md-list>

                <md-list flex-gt-xs="50">

                    <md-input-container class="md-block inputnomargin">
                        <label>Opdrachtgever </label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block inputnomargin" flex-gt-sm ng-init="getManKeuzeData()">
                        <label>Man</label>
                        <md-select ng-model="manKeuze">
                            <md-option ng-repeat="n in man">
                                {{n}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block inputnomargin">
                        <label>2</label>
                        <input input type="text">
                    </md-input-container>

                    <md-input-container class="md-block inputnomargin">
                        <label>3</label>
                        <input input type="text">
                    </md-input-container>
                </md-list>
            </div>


            <md-subheader class="md-no-sticky">Machines</md-subheader>
            <div flex-gt-xs="100">
                <md-input-container class="md-block inputnomargin" flex-gt-sm ng-init="getMachineKeuzeData()">
                    <label>Machine</label>
                    <md-select ng-model="machineKeuze">
                        <md-option ng-repeat="n in machine">
                            {{n.Nummer, n.Naam}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-button class="md-icon-button" ng-click=""><md-icon ng-style="{color: 'blue'}">add_circle</md-icon></md-button>

            </div>

            <md-subheader class="md-no-sticky">Uren</md-subheader>
            <div layout="row">
                <md-input-container class="full-width md-block inputnomargin">
                    <label>Van</label>
                    <input input type="time">
                </md-input-container>

                <md-input-container class="full-width md-block inputnomargin">
                    <label>Tot</label>
                    <input input type="time">
                </md-input-container>

                <md-input-container class="full-width md-block inputnomargin">
                    <label>Aantal uren</label>
                    <input input type="time">
                </md-input-container>
            </div>


            <div>
                <md-subheader class="md">Omschrijving</md-subheader>
                <md-input-container class="md-block inputnomargin">
                    <label>Omschrijving</label>
                    <textarea ng-model="userOmschrijving" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </div>

        </div>

    </div>
    <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
}