@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
    <section id="content">
    
    </section>
</section>