@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
	<section id="content">
	
    <div class="card">
        <div class="card-header">
            <h2>Gebruiker <small>Uw uren overzicht</small></h2>
        </div> 
        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                    <tr ng-repeat="w in $data"  ng-class="{ 'active': w.$edit }">
                        <td data-title="'ID'">
                            <span ng-if="!w.$edit">{{ Customer.name }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="Customer.name" /></div>
                        </td>
                        <td data-title="'Name'">
                            <span ng-if="!w.$edit">{{ Assignment.location }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="Assignment.location" /></div>
                        </td>
                        <td data-title="'Email'">
                            <span ng-if="!w.$edit">{{ TimesheetPart.startTime }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="email" ng-model="TimesheetPart.startTime" /></div>
                        </td>
                        <td data-title="'Username'">
                            <span ng-if="!w.$edit">{{ Timesheet.endTime }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="TimesheetPart.endTime" /></div>
                        </td>
                        <td data-title="'Contact'">
                            <span ng-if="!w.$edit">{{ TimesheetPart.totalTime }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="TimesheetPart.totalTime" /></div>
                        </td>
						                        <td data-title="'Name'">
                            <span ng-if="!w.$edit">{{ WorkType.type }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="WorkType.type" /></div>
                        </td>
                        <td data-title="'Email'">
                            <span ng-if="!w.$edit">{{ Machine.name }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="email" ng-model="Machine.name" /></div>
                        </td>
                        <td data-title="'Username'">
                            <span ng-if="!w.$edit">{{ TimesheetPart.description }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="TimesheetPart.endTime" /></div>
                        </td>
                        <td data-title="'Contact'">
                            <span ng-if="!w.$edit">{{ Employee.name }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="Employee.name" /></div>
                        </td>
                        <td data-title="'Actions'">
                            <button type="button" class="btn btn-default" ng-if="!w.$edit" ng-click="w.$edit = true"><i class="zmdi zmdi-edit"></i></button>
                            <button type="button" class="btn btn-success" ng-if="w.$edit" ng-click="w.$edit = false"><i class="zmdi zmdi-check"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
		
		<div class="card">
        <div class="card-header">
            <h2>Werkbon <small>Verstuur een werkbon</small></h2>
        </div>

        <div class="card-body card-padding">
		<div class="card">
            <div class="row">
                <div class="col-xs-6">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Opdrachtgever">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Locatie">
                    </div>
                </div>
		</div>
		
		<div class="card">		
                <div class="col-xs-4">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control ng-isolate-scope" data-input-mask="{mask: '00:00'}" placeholder="Van" maxlength="5" autocomplete="off">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control ng-isolate-scope" data-input-mask="{mask: '00:00'}" placeholder="Tot" maxlength="5" autocomplete="off">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control ng-isolate-scope" data-input-mask="{mask: '00:00'}" placeholder="Totaal" maxlength="5" autocomplete="off">
                    </div>
                </div>
		</div>
		
		<div class="card">
                <div class="col-xs-6">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Man">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Machine">
                    </div>
                </div>
		</div>
		<div class="card">
                <div class="col-xs-12">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Omshrijving">
                    </div>
                </div>
		</div>
		<div class="card">
                <div class="col-xs-12">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Collega's">
                    </div>
                </div>
		</div>
		
		</div>

            </div>
        </div>
    </div>
    </div>        
     
    </section>
</section>