@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main" ng-controller="TimesheetController as tc">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
    <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header ch-alt">
                    <div class="media">
                        <div class="media-body">
                            <h2>{{tc.assignement.Customer.Name}} <small>{{tc.assignement.Date}}</small></h2>
                        </div>
                    </div>
                </div>
                <div class="card-body card-padding">
                    <h3>{{tc.assignement.Location}}</h3>
                    <p>{{tc.assignement.Description}}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header ch-alt m-b-20">
                    <h2>Overzicht Uren <small>Overzicht ingevulde gegevens voor deze opdracht</small></h2>
                    <button class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
                </div>

                <div class="card-body card-padding">

                </div>

                <div class="lv-header card-body card-padding bgm-teal c-white">
                    Totaal: 0 uur
                </div>
            </div>

            <div class="card" ng-init="tc.getAllUsers()">
                <div class="card-header ch-alt">
                    <h2>Collegas <small>Met welke collegas heb je gewerkt</small></h2>
                </div>

                <div class="card-body card-padding">
                    <select chosen multiple class="w-100"
                            data-placeholder="Selecteer uw collega's"
                            ng-model="tc.selectedCoworkers"
                            ng-options="x.IdEmployee as x.Name for x in tc.allUsers"></select>
                </div>
            </div>

            <div class="card">
                <div class="card-body card-padding">
                    <button class="btn bgm-blue">Opslaan</button>
                </div>
            </div>
        </div>
    </section>
</section>

@section styles{
    <link href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link href="~/lib/chosen/chosen-sprite.png" rel="image_src" />
}

@section scripts{
    <script src="~/lib/chosen/chosen.js"></script>
    <script src="~/lib/angular-chosen-localytics/dist/angular-chosen.min.js"></script>

    <script>angular.module('materialAdmin').requires.push('localytics.directives');</script>
}