<md-content layout-align-gt-xs="start center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent content-padding">
    <div class="md-whiteframe-5dp layout-content">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Archief Machines</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('admin/machinebeheer')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        <div ng-controller="VehicleEdit" ng-init="getArchiefMachines()">
            <div class="content">
                <md-input-container class="md-block inputnomargin">
                    <label>Zoek gebruiker</label>
                    <md-icon>search</md-icon>
                    <input ng-model="searchterm" type="search">
                </md-input-container>
            </div>
            <md-divider></md-divider>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="machine in ArchiefMachines | filter:searchterm" ng-click="ConfirmReAdd(machine.IdMachine)">
                    <md-icon class="notopmargin" ng-style="{color: '#3F51B5'}">person</md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ machine.Naam }}</h3>
                        <p>{{ machine.Nummer }}</p>
                    </div>
                    <span flex></span>
                    <p>Kenteken: {{ n.Kenteken}}</p>
                    <md-icon ng-style="{color: '#3F51B5'}">unarchive</md-icon>
                </md-list-item>
            </md-list>
            <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
}