 <md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content form-content">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Machine Toevoegen</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('admin/machinebeheer')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        
        <div class="content" ng-controller="VehicleEdit">
            <md-toolbar class="md-warn" ng-show="showError">
                <div class="md-toolbar-tools">
                    <h6 class="md-flex">{{errorMessage}}</h6>
                </div>
            </md-toolbar>
            <form name="gebruikerform" layout-padding layout="column" ng-submit="AddMachine()">

                <md-input-container class="md-block inputnomargin">
                    <label>Machine naam</label>
                    <input required type="text" name="machineName"ng-model="machineDetails.naam" minlength="2" maxlength="40">
                </md-input-container>

                <md-input-container class="md-block inputnomargin">
                    <label>Machine nummer</label>
                    <input required type="text" name="machineNum" ng-model="machineDetails.nummer" minlength="2" maxlength="10">
                </md-input-container>

                <md-input-container class="md-block inputnomargin">
                    <label>Kenteken</label>
                    <input input type="text" name="machineKenteken" ng-model="machineDetails.kenteken">
                </md-input-container>

                <md-input-container class="inputnomargin">
                    <label>Categorie</label>
                    <md-select required ng-model="machineDetails.type">
                        <md-option ng-repeat="n in types" ng-selected="$first">
                            {{n}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <div layout-align="row">
                    <span flex></span>
                    <md-button type="submit">
                        <md-icon ng-style="{color: '#3F51B5'}"> build </md-icon> Voeg machine toe
                    </md-button>
                </div>

            </form>
        </div>
        <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
    <script src="~/js/loginview.js"></script>
}
