<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content form-content" ng-controller="HulpstukEdit">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Wijzigt momenteel: @ViewData["naam"]</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('admin/hulpstukbeheer')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        <div class="content">
            <form name="gebruikerform" layout="column" ng-submit="EditHulpstuk()">
                <p hidden ng-model="hulpstukDetails.id" ng-init="hulpstukDetails.id = '@ViewData["id"]'"></p>
                <md-input-container class="md-block inputnomargin">
                    <label>Hulpstuk naam</label>
                    <input required type="text" md-maxlength="45" name="hulpstukName" ng-model="hulpstukDetails.naam" ng-init="hulpstukDetails.naam = '@ViewData["naam"]'">
                </md-input-container>

                <md-input-container class="md-block inputnomargin">
                    <label>Hulpstuk nummer</label>
                    <input required type="text" name="hulpstukNum" ng-model="hulpstukDetails.nummer" ng-init="hulpstukDetails.nummer = '@ViewData["hulpstuknummer"]'" minlength="2" maxlength="10">
                </md-input-container>
            </form>
        </div>

        <md-divider></md-divider>
        <div layout="row" layout-align="end center" class="content-actions">
            <md-button ng-style="{color: 'red'}" ng-click="showConfirmDeleteDialog()">Hulpstuk Archiveren</md-button>
            <md-button class="md-primary md-raised" ng-click="showConfirmChangesDialog()">Pas Wijzigingen Toe</md-button>
        </div>

        <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
}