@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}
<!-- Header -->
<header id="header" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>

    <!-- Page Content -->
    <section id="content" ng-controller="UserManagement as um">
        <div class="container">
           
                <div class="card-header ch-alt m-b-20">
                    <h2>Opdrachten<small>Klik op een opdracht om deze te bekijken.</small></h2>
                    <a class="button btn bgm-red btn-float waves-effect" href="opdrachttoevoegen"><i class="zmdi zmdi-plus"></i></a>
                </div>

            <div class="card-header ch-alt m-b-20">
                Opdracht ID
                            </div>
                <div class="col-sm-4">
                    <small>Opdrachtgever</small>
                    <div class="form-group">
                        <div class="fg-line disabled">
                            <input type="text" readonly class="form-control" value="This is Disabled">
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <small>Locatie</small>
                    <div class="form-group">
                        <div class="fg-line disabled">
                            <input type="text" readonly class="form-control" value="This is Disabled">
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <small>Collega's</small>
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" readonly class="form-control" value="This is Disabled">
                        </div>
                    </div>
                </div>
                <small>Omschrijving</small>
                <div class="form-group">
                    <div class="fg-line disabled">
                        <article class="form-control" readonly rows="5" placeholder=""></article>
                    </div>
                </div>
            </div>
 
    </section>
</section>

