@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
    <section id="content" ng-controller="TimesheetController as am">
        <div class="container">
            <div class="block-header">
                <h2>Planning</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bgm-blue">
                            <h2>Opdrachten Vandaag <small>Alle opdrachten, werknemers en opgeslagen werkbonnen worden hier getoond.</small></h2>
                        </div>
                        <div class="listview lv-bordered lv-lg" ng-init="am.getAllAssignmentsPeriod(true, true)">
                            <div class="lv-body">
                                <assignment-item ng-repeat="x in am.allAssignments"></assignment-item>
                                <div class="lv-item media" ng-show="am.allAssignments.length === 0">
                                    <small class="c-bluegray">Geen opdrachten gevonden</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bgm-deeporange">
                            <h2>Controle<small>Alle opdrachten die nog niet gecontroleerd zijn voor vandaag en eerder staan hier weergegeven</small></h2>
                        </div>

                        <div class="listview lv-bordered lv-lg">
                            <div class="lv-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>