@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<!-- Header -->
<header id="header" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
    <section id="content" ng-controller="TimesheetController as ctrl">
        <div class="container c-alt">
            <div class="block-header">
                <h2>Planning</h2>
            </div>
            <div class="row">
                <div class="col-md-12 m-b-15">
                    <div class="card m-b-0 bgm-none" ng-init="ctrl.getAllUnverifiedAssignments()">
                        <div class="card-header bgm-blue">
                            <h2>
                                Open Opdrachten <small>Hier worden alle opdrachten die nog niet gecontroleerd zijn weergegeven</small>
                            </h2>
                        </div>
                        <div class="card-body card-padding bgm-green" ng-show="ctrl.allAssignments.length === 0">
                            <p class="m-0"><i class="zmdi zmdi-check zmdi-hc-fw"></i><small class="c-white">Alle opdrachten zijn gecontroleerd</small></p>
                        </div>
                    </div>

                    <div class="listview lv-bordered lv-lg bgm-white card expansion-card" ng-repeat="x in ctrl.allAssignments"
                         ng-class="{ 'toggled': x.opened }">
                        <div class="lv-body">
                            <assignment-item></assignment-item>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="card bgm-none">
                        <div class="card-header bgm-deeporange">
                            <h2>Controle<small>Alle opdrachten die nog niet gecontroleerd zijn voor vandaag en eerder staan hier weergegeven</small></h2>
                        </div>

                        <div class="listview lv-bordered lv-lg">
                            <div class="lv-body">

                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
</section>