@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
    <section id="content" ng-controller="TimesheetController as am">
        <div class="container">
            <div class="block-header">
                <h2>Planning</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bgm-blue">
                            <h2>Opdrachten Vandaag <small>Alle opdrachten, werknemers en opgeslagen werkbonnen worden hier getoond.</small></h2>
                        </div>
                        <div class="listview lv-bordered lv-lg" ng-init="am.getAllAssignmentsPeriod(true, true)">
                            <div class="lv-body">
                                <div ng-repeat="x in am.allAssignments">
                                    <div class="lv-item media" ng-class="{ 'bgm-indigo': x.opened}">
                                        <div class="media-body">
                                            <div class="lv-title" ng-class="{ 'c-white': x.opened}">{{x.name}}</div>
                                            <div class="lv-actions">
                                                <button class="btn btn-primary" ng-class="{ 'bgm-green': x.opened}" ng-click="x.opened = !x.opened"><i class="zmdi zmdi-menu"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div uib-collapse="!x.opened">
                                        <div class="lv-item media" ng-repeat="ass in x.assignments">
                                            <div class="lv-title">{{ass.location}}</div>
                                            <small class="c-bluegray">{{ass.description}}</small>
                                            <ul class="lv-attrs">
                                                <li class="p-0" ng-repeat="xs in ass.employeeAssignments">
                                                    <a class="card listbutton" ng-class="{ 'bgm-green': xs.isVerified, 'c-white': xs.isVerified}"
                                                       href="admin/urenoverzicht/{{ass.assignmentId}}/{{xs.userId}}">{{xs.user.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bgm-blue p-b-15"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bgm-deeporange">
                            <h2>Opdrachten Morgen<small>Alle opdrachten die voor morgen gepland staan worden hier getoond.</small></h2>
                        </div>

                        <div class="listview lv-bordered lv-lg">
                            <div class="lv-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>