@{
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<!-- Header -->
<header id="header" data-current-skin="blue" data-ng-controller="headerCtrl as hctrl">@{ await Html.RenderPartialAsync("header-image-logo");  }</header>

<section id="main">
    <!-- Sidebar -->
    <aside id="sidebar" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }">@{ await Html.RenderPartialAsync("sidebar-left");  }</aside>
    <section id="content" ng-controller="TimesheetController as am">
        <div class="container">
            <div class="block-header">
                <h2>Planning</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bgm-blue">
                            <h2>Opdrachten Vandaag <small>Alle opdrachten, werknemers en opgeslagen werkbonnen worden hier getoond.</small></h2>
                        </div>

                        <div class="listview lv-bordered lv-lg" ng-init="am.getAllAssignmentsPeriod(true)">
                            <div class="lv-body">
                                <div ng-repeat="x in am.allAssignments">
                                    <div class="lv-item media">
                                        <div class="media-body">
                                            <div class="lv-title">{{x.Name}}</div>
                                            <div class="lv-actions">
                                                <button class="btn btn-primary" ng-click="x.opened = !x.opened"><i class="zmdi zmdi-menu"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div uib-collapse="!x.opened">
                                        <div class="bgm-amber p-b-5"></div>
                                        <div class="lv-item media" ng-repeat="ass in x.Assignments">
                                            <div class="lv-title">{{ass.Location}}</div>
                                            <small class="c-bluegray">{{ass.Description}}</small>
                                            <ul class="lv-attrs">
                                                <li class="p-0" ng-repeat="user in ass.Employees"><a class="card listbutton" href="admin/urenoverzicht/{{ass.IdAssignment}}/{{user.IdEmployee}}">{{user.Name}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="bgm-amber p-b-15"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bgm-deeporange">
                            <h2>Opdrachten Morgen<small>Alle opdrachten die voor morgen gepland staan worden hier getoond.</small></h2>
                        </div>

                        <div class="listview lv-bordered lv-lg">
                            <div class="lv-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>